button {
  padding: 0.8rem 1.2rem;
  background: #3d3d3d;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 40vh 40vw;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}
button:hover {
  opacity: 0.9;
}
button:active {
  background: #1d1d1d;
}