* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: blue;
}
header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background: skyblue;
}
/*  #0d1117 */

header h1 {
  padding: 5px;
  border: 5px solid blue;
  border-radius: 50%;
  color: blue;
}

header button {
  padding: 10px 15px;
  border-radius: 10%;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

h2 {
  color: green;
  text-align: center;
  margin: 10px 0;
  font-size: 36px;
}

p {
  width: 80%;
  margin: 0 auto;
}

#dark {
  border: 5px solid white;
  background: #0d1117;
  color: white;
}
#light {
  display: none;
  border: 5px solid #0d1117;
  background: white;
  color: #0d1117;
}