body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eff4f5;
}
.card {
  font-family: sans-serif;
  width: 600px;
  height: 400px;
  box-shadow: 10px 10px 30px #444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

h2 {
  margin: 0;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  color: #444;
}

h4 {
  margin: 0;
  padding: 1.5rem 0;
  font-size: 4rem;
}

.counterBtn {
  padding: 0.5rem;
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #333;
  transition: 0.3s ease;
}

.incBtn:hover {
  background: green;
  color: #fff;
  border: 1px solid green;
}

.decBtn:hover {
  background: red;
  color: #fff;
  border: 1px solid red;
}